﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rome Foundation</title>
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">

</head>

<body>
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            @RenderBody()
        </div>
    </div>

    <!-- Required Js -->
    <script src="~/Scripts/vendor-all.min.js"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>