﻿@model GAREportDashboard.ApiClient.UserListResponse

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<table width="50%">
    @foreach (var user in Model.UserList)
    {
        <tr><td>@user.name</td><td><img src="@user.avatar_urls._96" alt="Avtar" /></td><td></td></tr>
    }


</table>