﻿
@{
    ViewBag.Title = "Bounce Rate";
}

@using (Html.BeginForm())
{
    @*<div class="main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-xl-8 col-md-6">
                                    <div class="card Recent-Users">*@
                                        <div class="card-header">
                                            <h2>
                                                bounce rate

                                            </h2>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <div id="div_chart" style="float:left">


                                                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                                    <script type="text/javascript">
            google.load('visualization', '1', {
                packages: ['corechart'], callback: drawChart
            });

            function drawChart() {
                var chart;

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Date');
                data.addColumn('number', 'BounceRate');



               var data1=@Html.Raw(Json.Encode(ViewBag.BounceRate));

                $.each(data1, function (index, item) {
                    data.addRows([[item.Dimension, item.Metric]])
                });

                //var formatter = new google.visualization.NumberFormat({
                //    fractionDigits: 2,
                //    prefix: 'R$:'
                //});
                //formatter.format(data, 1);
                var dateFormatter = new google.visualization.NumberFormat({
                    pattern: 'MMM yyyy'
                });
                dateFormatter.format(data, 0);
                var chartHeight = 300;
                var chartWidth = 500;
                var chartOptions = {
                    tooltip: {
                        isHtml: true
                    },
                    pointSize: 10,
                    trendlines: {
                        0: {
                            //type: 'polynomial',
                            //degree: 3,
                            color: 'red'
                        },
                        1: {
                            color: 'yellow'
                        },
                    },
                    title: '',
                    isStacked: true,
                    width: chartWidth,
                    height: chartHeight,
                    colors: ['#0000D8', '#00dddd'],
                    hAxis: {
                        title: '',
                        slantedText: true,
                        slantedTextAngle: 45,
                        textStyle: {
                            fontSize: 10
                        },
                        format: 'dd-MM-yyyy'
                    },
                    chartArea: {
                        left: 50,
                        top: 20,
                        width: (chartWidth - 10),
                        height: (chartHeight - 90)
                    }
                };
                chart = new google.visualization.LineChart(document.getElementById('div_chart'));
                chart.draw(data, chartOptions);
            }
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    @*</div>
                                </div>

                            </div>*@
                            @*<div class="row">
                                <div class="col-xl-8 col-md-6">
                                    <div class="card Recent-Users">*@
                                        <div class="card-header">
                                            <h2>
                                                Avg. bounce rate by device type

                                            </h2>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <div id="Devicetypebounce_chart" style="float:left">


                                                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                                    <script type="text/javascript">
            google.load('visualization', '1', {
                packages: ['corechart'], callback: drawChart
            });

            function drawChart() {
                var chart;

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Device');
                data.addColumn('number', 'BounceRate');



               var data1=@Html.Raw(Json.Encode(ViewBag.DeviceTypeBounceRate));

                $.each(data1, function (index, item) {
                    data.addRows([[item.Dimension, item.Metric]])
                });

                //var formatter = new google.visualization.NumberFormat({
                //    fractionDigits: 2,
                //    prefix: 'R$:'
                //});
                ////formatter.format(data, 1);
                //var dateFormatter = new google.visualization.NumberFormat({
                //    pattern: 'MMM yyyy'
                //});
                //dateFormatter.format(data, 0);
                var chartHeight = 300;
                var chartWidth = 500;
                var chartOptions = {
                    tooltip: {
                        isHtml: true
                    },
                    pointSize: 10,
                    trendlines: {
                        0: {
                            //type: 'polynomial',
                            //degree: 3,
                            color: 'red'
                        },
                        1: {
                            color: 'yellow'
                        },
                    },
                    title: '',
                    isStacked: true,
                    width: chartWidth,
                    height: chartHeight,
                    colors: ['#0000D8', '#00dddd'],
                    vAxis: {


                        title: 'Bounce Rate',

                    },
                    hAxis: {
                        title: '',
                        slantedText: true,
                        slantedTextAngle: 45,
                        textStyle: {
                            fontSize: 10
                        },

                    },
                    chartArea: {
                        left: 50,
                        top: 20,
                        width: (chartWidth - 10),
                        height: (chartHeight - 90)
                    }
                };
                chart = new google.visualization.ColumnChart(document.getElementById('Devicetypebounce_chart'));
                chart.draw(data, chartOptions);
            }
                                                    </script>
                                                </div>

                                            </div>
                                        </div>
                                    @*</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
}