﻿@model IEnumerable<GAREportDashboard.ApiClient.Entry>

@{
    ViewBag.Title = "CMECollection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CMECollection</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.form_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_starred)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_read)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.source_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_agent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._16)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._46)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._91)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._93)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._94)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._95)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._96)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._131)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._14)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._15)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._141)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._18)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._41)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._42)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._43)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._44)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._45)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._92)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.form_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_starred)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_read)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.source_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_agent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._16)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._46)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._91)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._93)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._94)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._95)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._96)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._131)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._14)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._15)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._141)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._18)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._41)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._42)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._43)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._44)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._45)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._92)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
