﻿@model GAREportDashboard.Models.AnalyticsViewModel
@using Newtonsoft.Json;
@{
    ViewBag.Title = "OverView";
}

@using (Html.BeginForm())
{
    <div class="main-container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          
            <div class="col-md-12">
                <div class="row d-flex align-items-center">
                    <h5 class="mb-4 pl-40">Date Range</h5>
                    @Html.EditorFor(m => m.Startdate, new { htmlattributes = new { @class = "datepicker" } })
                    @Html.EditorFor(m => m.Enddate, new { htmlattributes = new { @class = "datepicker" } })
                    <button type="submit" class="btn btn-sm btn-primary">
                        Update Data
                    </button>
                </div>
                
            </div>
        </div>
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-md-6 col-xl-4">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h4 class="mb-4">Top Locations</h4>
                                            <div class="row d-flex align-items-center">
                                                <div id="LocationView_chart" style="float:left">

                                                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                                    <script type="text/javascript">
            google.load('visualization', '1', {
                packages: ['corechart'], callback: drawChart
            });

            function drawChart() {
                var chart;

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Country');
                data.addColumn('number', 'Users');


               var data1=@Html.Raw(Json.Encode(ViewBag.LocationpageViewModel));

                $.each(data1, function (index, item) {
                    data.addRows([[item.Dimension, item.Metric]])
                });

                //var formatter = new google.visualization.NumberFormat({
                //    fractionDigits: 0,

                //});
                //formatter.format(data, 1);
                //var dateFormatter = new google.visualization.NumberFormat({
                //    pattern: 'MMM yyyy'
                //});
                //dateFormatter.format(data, 0);
                var chartHeight = 200;
                var chartWidth = 300;
                var chartOptions = {
                    tooltip: {
                        isHtml: true
                    },

                    pointSize: 5,
                    //trendlines: {
                    //    0: {
                    //        //type: 'polynomial',
                    //        //degree: 3,
                    //        color: 'red'
                    //    },
                    //    1: {
                    //        color: 'yellow'
                    //    },
                    //},
                    title: '',
                    isStacked: true,
                    width: chartWidth,
                    height: chartHeight,
                    colors: ['#0000D8', '#00dddd'],
                    vAxis: {


                        title: 'No. of Visits',

                    },
                    hAxis: {
                        title: 'Location',
                        slantedText: true,
                        slantedTextAngle: 45,
                        textStyle: {
                            fontSize: 10
                        },

                    },
                    chartArea: {
                        left: 50,
                        top: 20,
                        width: (chartWidth - 10),
                        height: (chartHeight - 90)
                    }
                };
                chart = new google.visualization.PieChart(document.getElementById('LocationView_chart'));
                chart.draw(data, chartOptions);
            }
                                                    </script>
                                                </div>
                                            </div>
                                            <div class="card-block">
                                                <h4 class="mb-4">Top Devices</h4>
                                                <div class="row d-flex align-items-center">
                                                    <div id="DeviceCagory_chart" style="float:left">

                                                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                                        <script type="text/javascript">
            google.load('visualization', '1', {
                packages: ['corechart'], callback: drawChart
            });

            function drawChart() {
                var chart;

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'DeviceType');
                data.addColumn('number', 'Device');


               var data1=@Html.Raw(Json.Encode(ViewBag.DeviceCategory));

                $.each(data1, function (index, item) {
                    data.addRows([[item.Dimension, item.Metric]])
                });

                //var formatter = new google.visualization.NumberFormat({
                //    fractionDigits: 0,

                //});
                //formatter.format(data, 1);
                //var dateFormatter = new google.visualization.NumberFormat({
                //    pattern: 'MMM yyyy'
                //});
                //dateFormatter.format(data, 0);
                var chartHeight = 200;
                var chartWidth = 300;
                var chartOptions = {
                    tooltip: {
                        isHtml: true
                    },

                    pointSize: 5,
                    //trendlines: {
                    //    0: {
                    //        //type: 'polynomial',
                    //        //degree: 3,
                    //        color: 'red'
                    //    },
                    //    1: {
                    //        color: 'yellow'
                    //    },
                    //},
                    title: '',
                    isStacked: true,
                    width: chartWidth,
                    height: chartHeight,
                    colors: ['#0000D8', '#00dddd'],
                    vAxis: {


                        title: 'Devices',

                    },
                    hAxis: {
                        title: 'Devices',
                        slantedText: true,
                        slantedTextAngle: 45,
                        textStyle: {
                            fontSize: 10
                        },

                    },
                    chartArea: {
                        left: 50,
                        top: 20,
                        width: (chartWidth - 10),
                        height: (chartHeight - 90)
                    }
                };
                chart = new google.visualization.PieChart(document.getElementById('DeviceCagory_chart'));
                chart.draw(data, chartOptions);
            }
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-xl-4">

                                    <h4 class="mb-4">Active Users</h4>
                                    <div id="div_chart" style="float:left">


                                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                        <script type="text/javascript">
            google.load('visualization', '1', {
                packages: ['corechart'], callback: drawChart
            });

            function drawChart() {
                var chart;

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Date');
                data.addColumn('number', 'Users');


               var data1=@Html.Raw(Json.Encode(ViewBag.result));

                $.each(data1, function (index, item) {
                    data.addRows([[item.Dimension, item.Metric]])
                });

                //var formatter = new google.visualization.NumberFormat({
                //    fractionDigits: 2,
                //    prefix: 'R$:'
                //});
                //formatter.format(data, 1);
                var dateFormatter = new google.visualization.NumberFormat({
                    pattern: 'MMM yyyy'
                });
                dateFormatter.format(data, 0);
                var chartHeight = 400;
                var chartWidth = 600;
                var chartOptions = {
                    tooltip: {
                        isHtml: true
                    },
                    pointSize: 10,
                    trendlines: {
                        0: {
                            //type: 'polynomial',
                            //degree: 3,
                            color: 'red'
                        },
                        1: {
                            color: 'yellow'
                        },
                    },
                    title: '',
                    isStacked: true,
                    width: chartWidth,
                    height: chartHeight,
                    colors: ['#0000D8', '#00dddd'],
                    hAxis: {
                        title: 'Dates',
                        slantedText: true,
                        slantedTextAngle: 45,
                        textStyle: {
                            fontSize: 10
                        },
                        format: 'dd-MM-yyyy'
                    },
                    chartArea: {
                        left: 50,
                        top: 20,
                        width: (chartWidth - 10),
                        height: (chartHeight - 90)
                    }
                };
                chart = new google.visualization.LineChart(document.getElementById('div_chart'));
                chart.draw(data, chartOptions);
            }
                                        </script>
                                    </div>
                                </div>

                                <div class="col-xl-8 col-md-6">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>Top Referrals:</h5>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr><th>Sources</th><th>Active Users</th></tr>
                                                        @if (ViewBag.ReferalpageViewModel != null)
                                                        {
                                                            foreach (var activeReferal in @JsonConvert.DeserializeObject(ViewBag.ReferalpageViewModel))
                                                            {
                                                                <tr><td style="width:50%">@activeReferal.Dimension</td><td style="width:50%">@activeReferal.Metric</td></tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr><td style="width:50%"></td><td style="width:50%"></td></tr>
                                                        }


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-8 col-md-6">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>Top Active Pages:</h5>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr><th>Pages</th><th>Active Users</th></tr>
                                                        @foreach (var activePage in @JsonConvert.DeserializeObject(ViewBag.ActivepageViewModel))
                                                        {


                                                            <tr class="unread">

                                                                <td>
                                                                    <h6 class="mb-1">@activePage.Dimension</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="text-muted">@activePage.Metric</h6>
                                                                </td>

                                                            </tr>
                                                        }


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}