﻿<!DOCTYPE html>
<html>
<head>
    <title>Rome Foundation</title>
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="#" class="b-brand">
                    <img src="~/images/Rome-logo.png" alt="logo" class="b-logo" />
                    <img src="~/images/logo-thumb.png" alt="logo" class="collapse-logo" />
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="#"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i>
                            </span>
                            <span class="pcoded-mtext">Dashboard</span>
                        </a>
                    </li>
                    @*<li class="nav-item pcoded-menu-caption">
            <label>UI Element</label>
        </li>*@
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-box"></i>
                            </span>
                            <span class="pcoded-mtext"> WebAnalytics</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/Analytics/Overview" class="">OverView</a></li>
                            <li class=""><a href="/Analytics/BounceRate" class="">Bounce rate</a></li>
                            <li class=""><a href="/Analytics/Video" class="">Video Click</a></li>


                        </ul>
                    </li>

                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-box"></i>
                            </span>
                            <span class="pcoded-mtext"> Statical Data</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/Analytics/Users" class="">User Registration</a></li>
                            <li class=""><a href="/Analytics/UserList" class="">User List</a></li>
                            <li class=""><a href="/Analytics/CMECollection" class="">CME List</a></li>


                        </ul>
                    </li>


                    <li class="nav-item pcoded-menu-caption">
                        <label>Heading</label>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">Link</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/Analytics/Users" class=""></a></li>
                            <li class=""><a href="/Analytics/UserList" class=""></a></li>
                            <li class=""><a href="/Analytics/CMECollection" class=""></a></li>
                        </ul>
                    </li>


                    @* <li class="nav-item">
            <a href="#" class="nav-link ">
                <span class="pcoded-micon">
                    <i class="feather icon-server"></i>
                </span>
                <span class="pcoded-mtext">Link 8</span>
            </a>
        </li>


        <li class="nav-item pcoded-menu-caption">
            <label>Heading</label>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link ">
                <span class="pcoded-micon">
                    <i class="feather icon-pie-chart"></i>
                </span>
                <span class="pcoded-mtext">Link 9</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link ">
                <span class="pcoded-micon">
                    <i class="feather icon-map"></i>
                </span>
                <span class="pcoded-mtext">Link 10</span>
            </a>
        </li>

        <li class="nav-item pcoded-menu-caption">
            <label>Pages</label>
        </li>

        <li class="nav-item pcoded-hasmenu">
            <a href="#" class="nav-link ">
                <span class="pcoded-micon">
                    <i class="feather icon-lock"></i>
                </span>
                <span class="pcoded-mtext">Sign in</span>
            </a>

            <ul class="pcoded-submenu">
                <li class=""><a href="signup.html" class="">Sign up</a></li>
                <li class=""><a href="signin.html" class="">Sign in</a></li>
            </ul>
        </li>*@


                </ul>
            </div>
        </div>
    </nav>

    <header class="navbar pcoded-header navbar-expand-lg navbar-light">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse1" href="#"><span></span></a>
            <a href="#" class="b-brand">

                <span class="b-title"><img src="assets/images/logo-thumb.png" /></span>
            </a>
        </div>
        <a class="mobile-menu" id="mobile-header" href="#">
            <i class="feather icon-more-horizontal"></i>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">

                <li><a href="/User/LogOut" class="dropdown-item"><i class="feather icon-log-out"></i> Log Out</a></li>
            </ul>
        </div>
    </header>

    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="row">

                                <div class="col-md-12">
                                    @RenderBody();
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="~/Scripts/vendor-all.min.js"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/pcoded.min.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
